.cart-overwiew__wrapper {
  height: 100vh;
  position: static;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  .cart-overwiew__items {
    width: 90%;
    h3 {
      color: #848484;
      font-weight: bold;
    }
    .cart-overwiew__items-table {
      color: black;
      font-weight: normal;
      text-align: left;
      font-size: 1rem;
      td, th {
        padding-right: 10px;
      }
    }
  }
  .cart-overwiew__no-items {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .cart-overwiew__no-items-heading {
      color: #848484;
      font-weight: bold;
    }
    .cart-overwiew__no-items-icon {
      font-size: 5em;
      color: #c3c3c3;
    }
  }
}
